page-interaktivna-mapa {

  ion-header {
  .toolbar {
    z-index: 99999;
    position: absolute;

      .toolbar-background {
        background: transparent;

      }
      .toolbar-title {
        color: #FFF;
      }
    }
  }

  .scroll {
        height: 100%
  }

  #map {
    width: 100%;
    height: 100%;
  }

  .row_mapa_show_hide
  {
    text-align: center;
    line-height: 25px;
    background-color: rgba(224, 224, 224, 0.5);
    border-radius: 10px;
    padding: 0px;
  }

  .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
  }

  .col_mapa_show_hide
  {
    font-size: 1rem;
  }

}
