page-gastro-detalji {

  $theme_color: #F05C6A;

  .info_icon
  {
    color: $theme_color !important;
  }

  .pull
  {
    color: $theme_color !important;
  }

  .smjestaj_naziv
  {
    color: $theme_color !important;
  }

  .adresa
  {
    color: $theme_color !important;
  }

  .icon_list
  {
    color: $theme_color !important;
  }

}
