<ion-header>

  <ion-navbar>
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Događanja</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-segment class="segment_class" [(ngModel)]="dogadjanja" color="secondary">

    <ion-segment-button value="kultura">
      <ion-icon style="font-size: 14px;" name="ios-color-palette"></ion-icon>&nbsp;&nbsp;Kulturna
    </ion-segment-button>

    <ion-segment-button value="sport">
      <ion-icon style="font-size: 14px;" name="ios-football"></ion-icon>&nbsp;&nbsp;Sportska
    </ion-segment-button>

    <ion-segment-button value="zabava">
      <ion-icon style="font-size: 14px;" name="ios-musical-notes"></ion-icon>&nbsp;&nbsp;Zabavna
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="dogadjanja" class="segmet_div">

    <div *ngSwitchCase="'kultura'">
      <ion-grid *ngFor="let kultura of dogadjanja_kultura | async" class="no_padding">

        <ion-row *ngIf="kultura.tip == 'simple'" col-12  class="no_padding">

          <ion-card>

            <ion-item>
              <ion-avatar item-start>
                <img src="{{kultura.slika_avatar}}">
              </ion-avatar>
              <h2>{{kultura.naziv}}</h2>
              <h3>{{kultura.lokacija}}</h3>
              <p>{{kultura.datum}}</p>
            </ion-item>

            <ion-card-content>
              <p>{{kultura.opis}}</p>
            </ion-card-content>

          </ion-card>

        </ion-row>

        <ion-row *ngIf="kultura.tip == 'complex'" col-12  class="no_padding">

          <ion-card>

            <ion-item>
              <ion-avatar item-start>
                <img src="{{kultura.slika_avatar}}">
              </ion-avatar>
              <h2>{{kultura.naziv}}</h2>
              <h3>{{kultura.lokacija}}</h3>
              <p>{{kultura.datum}}</p>
            </ion-item>

            <img src="{{kultura.slika}}">

            <ion-card-content>
              <p>{{kultura.opis}}</p>
            </ion-card-content>

          </ion-card>

        </ion-row>

      </ion-grid>
    </div>

    <div *ngSwitchCase="'sport'">
      <ion-grid *ngFor="let sport of dogadjanja_sport | async" class="no_padding">

        <ion-row *ngIf="sport.tip == 'simple'" col-12  class="no_padding">

          <ion-card>

            <ion-item>
              <ion-avatar item-start>
                <img src="{{sport.slika_avatar}}">
              </ion-avatar>
              <h2>{{sport.naziv}}</h2>
              <h3>{{sport.lokacija}}</h3>
              <p>{{sport.datum}}</p>
            </ion-item>

            <ion-card-content>
              <p>{{sport.opis}}</p>
            </ion-card-content>

          </ion-card>

        </ion-row>

        <ion-row *ngIf="sport.tip == 'complex'" col-12  class="no_padding">

          <ion-card>

            <ion-item>
              <ion-avatar item-start>
                <img src="{{sport.slika_avatar}}">
              </ion-avatar>
              <h2>{{sport.naziv}}</h2>
              <h3>{{sport.lokacija}}</h3>
              <p>{{sport.datum}}</p>
            </ion-item>

            <img src="{{sport.slika}}">

            <ion-card-content>
              <p>{{sport.opis}}</p>
            </ion-card-content>

          </ion-card>

        </ion-row>

      </ion-grid>
    </div>

    <div *ngSwitchCase="'zabava'">
      <ion-grid *ngFor="let zabava of dogadjanja_zabava | async" class="no_padding">

        <ion-row *ngIf="zabava.tip == 'simple'" col-12  class="no_padding">

          <ion-card>

            <ion-item>
              <ion-avatar item-start>
                <img src="{{zabava.slika_avatar}}">
              </ion-avatar>
              <h2>{{zabava.naziv}}</h2>
              <h3>{{zabava.lokacija}}</h3>
              <p>{{zabava.datum}}</p>
            </ion-item>

            <ion-card-content>
              <p>{{zabava.opis}}</p>
            </ion-card-content>

          </ion-card>

        </ion-row>

        <ion-row *ngIf="zabava.tip == 'complex'" col-12  class="no_padding">

          <ion-card>

            <ion-item>
              <ion-avatar item-start>
                <img src="{{zabava.slika_avatar}}">
              </ion-avatar>
              <h2>{{zabava.naziv}}</h2>
              <h3>{{zabava.lokacija}}</h3>
              <p>{{zabava.datum}}</p>
            </ion-item>

            <img src="{{zabava.slika}}">

            <ion-card-content>
              <p>{{zabava.opis}}</p>
            </ion-card-content>

          </ion-card>

        </ion-row>

      </ion-grid>
    </div>

  </div>
</ion-content>
