<ion-header>

  <ion-navbar>
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Događanja</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-segment class="segment_class" [(ngModel)]="dogadjanja" color="secondary">

    <ion-segment-button value="kultura">
      <ion-icon style="font-size: 14px;" name="ios-color-palette"></ion-icon>&nbsp;&nbsp;Kulturna
    </ion-segment-button>

    <ion-segment-button value="sport">
      <ion-icon style="font-size: 14px;" name="ios-football"></ion-icon>&nbsp;&nbsp;Sportska
    </ion-segment-button>

    <ion-segment-button value="zabava">
      <ion-icon style="font-size: 14px;" name="ios-musical-notes"></ion-icon>&nbsp;&nbsp;Zabavna
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="dogadjanja" class="segmet_div">

    <div *ngSwitchCase="'kultura'" class="padding_custom">
      <timeline endIcon="">
        <timeline-item *ngFor="let kultura of dogadjanja_kultura">
          <timeline-time [title]="[kultura.datum, kultura.vrijeme]"></timeline-time>
          <ion-icon [name]="'calendar'"></ion-icon>

          <ion-card>

            <ion-item>
              <ion-avatar item-start>
                <img src="{{kultura.slika_avatar}}">
              </ion-avatar>
              <h2>{{kultura.naziv}}</h2>
              <p>{{kultura.lokacija}}</p>
            </ion-item>

            <img src="{{kultura.slika}}">

            <ion-card-content>
              {{kultura.opis}}
            </ion-card-content>
          </ion-card>
        </timeline-item>
      </timeline>
    </div>

    <div *ngSwitchCase="'sport'" class="padding_custom">
      <timeline endIcon="">
        <timeline-item *ngFor="let sport of dogadjanja_sport">
          <timeline-time [title]="[sport.datum, sport.vrijeme]"></timeline-time>
          <ion-icon [name]="'calendar'"></ion-icon>

          <ion-card>

            <ion-item>
              <ion-avatar item-start>
                <img src="{{sport.slika_avatar}}">
              </ion-avatar>
              <h2>{{sport.naziv}}</h2>
              <p>{{sport.lokacija}}</p>
            </ion-item>

            <img src="{{sport.slika}}">

            <ion-card-content>
              {{sport.opis}}
            </ion-card-content>
          </ion-card>
        </timeline-item>
      </timeline>
    </div>

    <div *ngSwitchCase="'zabava'" class="padding_custom">
      <timeline endIcon="">
        <timeline-item *ngFor="let zabava of dogadjanja_zabava">
          <timeline-time [title]="[zabava.datum, zabava.vrijeme]"></timeline-time>
          <ion-icon [name]="'calendar'"></ion-icon>

          <ion-card>

            <ion-item>
              <ion-avatar item-start>
                <img src="{{zabava.slika_avatar}}">
              </ion-avatar>
              <h2>{{zabava.naziv}}</h2>
              <p>{{zabava.lokacija}}</p>
            </ion-item>

            <img src="{{zabava.slika}}">

            <ion-card-content>
              {{zabava.opis}}
            </ion-card-content>
          </ion-card>
        </timeline-item>
      </timeline>
    </div>

  </div>
</ion-content>
